@media (max-width: 600px) {
  :root {
    --token-size: clamp(56px, 16vmin, 120px);
  }

  #character-grid {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 18px 12px;
  }

  .modal-content {
    padding: 20px;
    max-width: 92%;
    max-height: 92%;
    min-width: 75%;
  }

  #reminder-token-grid {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 12px;
  }
  
  /* Adjust player names on small screens */
  .player-name {
    font-size: clamp(10px, 2vmin, 16px);
    padding: 0.6vmin 1.5vmin;
  }
}